<!-- we used html:5 to create all the base -->
<!-- we put this file in a sub folder with the same name of the app so that if we have multiple html files with the same
name for multiple apps there would be no problem-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> days info </title>
</head>
<body>
    <h1>this is first page</h1>
    <h2>hi {{ name }}, this is for dynamic data and today is {{ day }}</h2>
</body>
</html>